* {
	padding: 0;
	margin: 0;
	border: 0;
	
}

a {
	color: #1BC1A1;
	border-bottom: 1px dotted #1BC1A1;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	text-decoration: none;background-color: transparent;
}

.header {
	padding-top: 92px;
	text-align: center;
	background: linear-gradient(to right, #f46b45, #eea849);
}

.title {
	color: white;
	font-size: 10vw;
	font-weight: 900;
	letter-spacing: -1px;
	margin: 0 20px 20px;
	line-height: 1.1;
}

.subtitle {
	color: #16a085;
	font-size: 27px;
	font-weight: 400;
	line-height: 30px;
	margin: 0px 20px 20px;
}

.subtitle + .subtitle {
	color: white;
}

.gh-btns {
	margin: 92px 0 0;
	background: rgba(0,0,0,.1);
	padding: 20px 0 10px;
	color: #333;
	font-size: 18px;
	line-height: 1.7;
}

.wrap {
	margin: 0 auto 90px;
	max-width: 540px;
	padding: 0 15px;
}

h1 {
	margin-top: 80px;
	color: #1BC1A1;
	font-size: 30px;
	margin-bottom: 15px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	font-size: 15px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-warning {
	color: #ffffff;
	background-color: #f5e625;
	border-color: #f5e625;
}

.btn-primary {
	color: #ffffff;
	background-color: #eb6864;
	border-color: #eb6864;
}

.btn-danger {
	color: #ffffff;
	background-color: #f57a00;
	border-color: #f57a00;
}

p {
	color: #333;
	font-size: 18px;
	line-height: 1.7;
	margin: 18px 0px;
}

.credits {
	font-weight: 400;
	font-family: 'Lato',sans-serif;
	font-size: 20px;
	color: black;
	padding: 30px 0;
	margin: 0;
}

.love {
	display: inline-block;
	position: relative;
	top: .2em;
	font-size: 1.4em;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	transform: scale(.9);
	-webkit-animation: love .5s infinite linear alternate-reverse;
	-moz-animation: love .5s infinite linear alternate-reverse;
	animation: love .5s infinite linear alternate-reverse;
}

.footer-link {
	color: white;
	border-color: white;
}

.maintainer {
	background: rgba(0,0,0,.05);
	font-weight: 400;
	font-family: 'Lato',sans-serif;
	font-size: 20px;
	color: black;
	padding: 30px 0;
	margin: 0;
}

.footer {
	background: linear-gradient(to right, #f46b45, #eea849);
	text-align: center;
}

@-webkit-keyframes love {
	to {
		-webkit-transform:scale(1.2);
	}
}
@-moz-keyframes love {
	to {
		-moz-transform:scale(1.2);
	}
}
@keyframes love {
	to {
		transform:scale(1.2);
	}
}

section .btn {
	margin: 10px 2px;
}

button, button:hover, button:focus {
	text-decoration: none;
}